<div class="container">
  <ng-container *ngIf="detectiveClickCount === 3">
    <p><strong>Commit Sha:</strong> {{ commitSha }}</p>
    <p><strong>Commit Date:</strong> {{ commitIsoDate | germanDate }}</p>
    <p>Programming by Oscar, commas by J.DBS</p>
  </ng-container>

  <h1>
    Nutri-Score Detektiv
    <img (click)="onDetectiveClicked()" src="assets/img/detective.png" style="width: 64px; vertical-align: sub; cursor: pointer" alt="" />
  </h1>
  <h2 class="subheader mt-1">
    Fehlt der <a href="https://de.wikipedia.org/wiki/Nutri-Score" target="_blank">Nutri-Score</a> auf einem Produkt? <strong>Kein Problem</strong>. Scannen Sie einfach den Strichcode auf der Rückseite
    der Packung und wir berechnen den Score für Sie.
  </h2>

  <app-nutriscore-info></app-nutriscore-info>

  <div *ngIf="step === 0" class="img-upload-container mt-3" (click)="onStartScanning()">
    <div>
      <img class="img-upload-container__icon" src="assets/img/barcode.png" alt="Camera" />
      <p><strong>Strichcode scannen</strong></p>
    </div>
  </div>

  <div *ngIf="step === 1 && !product" class="mt-3">
    <app-barcode-scanner (detect)="onBarcodeDetect($event)"></app-barcode-scanner>
  </div>

  <div *ngIf="product" class="mt-3">
    <app-product-details [product]="product"></app-product-details>
  </div>

  <div class="mt-3 ta-center">
    <a *ngIf="step === 1 && !product" href="#" (click)="onResetClick()">
      <img class="rotate-left-arrow" src="assets/img/close-solid.svg" alt="Close" />
      <small>Beenden</small></a
    >

    <a *ngIf="product" href="#" (click)="onStartScanning()">
      <img class="rotate-left-arrow" src="assets/img/rotate-left-solid.svg" alt="Rotate Left" />
      <small>Erneut scannen</small></a
    >
  </div>
</div>
